{% extends 'navBase.html' %}

{% block head %}
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user/auth.css' %}">

{% endblock %}

{% block body %}
    <form method="POST" action=""> 
    {% csrf_token %}
        <div class="container form_wrapper my-4">

            <h1>Social Distribution</h1>
            <hr class="style-two">
            
            <div class="mb-3">
                {{form.username}}
            </div>

            <div class="mb-3">
                {{form.display_name}}
            </div>

            <!-- <div class="mb-3">
                {{form.last_name}}
            </div> -->

            <div class="mb-3">
                {{form.email}}
            </div>

            <div class="mb-3">
                {{form.password1}}
            </div>

            <div class="mb-3">
                {{form.password2}}
            </div>
            
            <div class="mb-3">
                {{form.github_url}}
            </div>
            
            <div class="mb-3">
                {{form.profile_image_url}}
            </div>

            <button type="submit" class="btn btn-primary">Sign Up</button>

            {% if form.errors != None %}
                {% for key, value in form.errors.items %}
                <div class="alert alert-warning alert-dismissible fade show mt-4" role="alert">
                    {{value}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif%}

            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Already have an account?<a href="{% url 'socialDistribution:login' %}" class="ms-2">Login</a>
                </div>
            </div>
        </div>
    </form>

{% endblock %}