{% load static %}
<div class="author-tile card shadow bg-white m-5 h-100">
    <div class="card-body">
        <div class="row">
            <div class="col col-sm-6 col-md-4 col-lg-3 d-flex align-items-center justify-content-center h-100 ml-2">

                {% if author.profileImageUrl %}
                    <img src="{{ author.profileImageUrl }}"
                        class="profile-img align-middle" alt="Profile Image">
                {% else %}
                    <img src="{% static 'assets/blank-profile-picture.png' %}"
                    class="profile-img align-middle" alt="Profile Imag">
                {% endif %}

            </div>
            <div class="col col-sm-6 col-md-8 col-lg-9">

                <h4 class="card-title">{{author.displayName}}</h4>

                <h6 class="card-subtitle mb-2 text-muted px-1">
                    <span class="badge bg-secondary">{{author_type}}&nbsp;</span>
                    {% if is_friend %}
                        <span class="badge bg-success">Friend</span>
                    {% endif %}
                </h6>

                <div>
                    <!-- profile card labels and actions  -->
                    {% if not profile_card and author_type == "Local" %}
                        {% if author.posts__count == 1 %}
                            <p>{{author.posts__count}} post</p>
                        {% else %}
                            <p>{{author.posts__count}} posts</p>
                        {% endif %}
                    {% elif not author_is_user %}

                        <!-- check if local or remote author -->
                        {% if author_type == "Local" %}
                            <div class="author-card-opt d-flex ml-10">
                                {% if is_following %}
                                    <p class="text-muted h6 my-auto px-1">Following &#8226;</p>
                                    <form method="POST" action="{% url 'socialDistribution:un-befriend' author.id %}">
                                        {% csrf_token %}
                                        <button class="btn bg-white text-primary px-1">Un-follow</button>
                                    </form>
                                {% elif request_sent %}
                                    <p class="text-muted h6 my-auto px-1">Follow request sent</p>
                                {% else %}
                                    <form method="POST" action="{% url 'socialDistribution:befriend' author.id %}">
                                        {% csrf_token %}
                                        <button class="btn bg-white text-primary px-1">Follow</button>
                                    </form>
                                {% endif %}
                            </div>
                        {% else %}
                                <div class="author-card-opt d-flex ml-10">
                                    {% if is_following %}
                                        <p class="text-muted h6 my-auto px-1">Following &#8226;</p>
                                        <form method="POST" action="{% url 'socialDistribution:un-befriend' author.local_id %}">
                                            {% csrf_token %}
                                            <button class="btn bg-white text-primary px-1">Un-follow</button>
                                        </form>
                                    {% elif request_sent %}
                                        <p class="text-muted h6 my-auto px-1">Follow request sent</p>
                                    {% else %}
                                        <form method="POST" action="{% url 'socialDistribution:befriend' author.local_id %}">
                                            {% csrf_token %}
                                            <button class="btn bg-white text-primary px-1">Follow</button>
                                        </form>
                                    {% endif %}
                                </div>
                        {% endif%}

                    {% else %}
                        <div class="author-card-opt d-flex ml-10"> 
                            <form method="GET" action="{% url 'socialDistribution:inbox' %}">
                                {% csrf_token %}
                                <button class="btn bg-blue text-white btn-md btn-primary rounded-pill">See inbox</button>
                            </form>
                            <form method="GET" action="unlisted-posts">
                                <button class="btn bg-blue text-white btn-md btn-primary rounded-pill">See Unlisted Posts</button>
                            </form>
                        </div>                            
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</div>