{% load static %}
<div class="author-tile card shadow bg-white m-5 h-100">
    <div class="card-body">
        <div class="row">
            <div class="col-2 d-flex align-items-center justify-content-center h-100 ml-2">
                <img src="{% static 'assets/blank-profile-picture.png' %}"
                    class="profile-img align-middle" alt="">
            </div>
            <div class="col">
                <h5 class="card-title h3">{{author.displayName}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    {{author_type}}&nbsp;
                    {% if is_friend %}
                        <span class="badge bg-success">Friend</span>
                    {% endif %}
                </h6>
                <div>
                    {% if not profile_card %}
                        {% if author.post__count == 1 %}
                            <p>{{author.post__count}} public post</p>
                        {% else %}
                            <p>{{author.post__count}} public posts</p>
                        {% endif %}
                    {% else %}
                        <div class="author-card-opt d-flex ml-10">
                            {% if is_following %}
                                <p class="text-muted px-1">Following &#8226;</p>
                                <a class="px-1" href="{% url 'socialDistribution:un-befriend' author.id %}">Un-follow</a>                                
                            {% elif request_sent %}
                                <p class="text-muted px-1">Follow request sent</p>
                            {% elif not author_is_user %}
                                <a class="px-1" href="{% url 'socialDistribution:befriend' author.id %}">
                                    Follow
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>