{% load static %}
<div class="author-title card shadow bg-white m-2">
    <div class="card-body">

        <div class="row">
            <!-- Profile Image -->
            <div class="col col-sm-6 col-md-4 col-lg-3 d-flex align-items-center justify-content-center ml-2">

                {% if comment.author.profileImageUrl %}
                    <img src="{{ comment.author.profileImageUrl }}" onclick="redirectToAuthorPage('{{comment.comment_author_local_server_id}}')"
                        class="profile-img align-middle" alt="Profile Image">
                {% else %}
                    <img src="{% static 'assets/blank-profile-picture.png' %}" onclick="redirectToAuthorPage('{{comment.comment_author_local_server_id}}')"
                    class="profile-img align-middle" alt="Profile Imag">
                {% endif %}
            </div>

            <!-- Card details -->
            <div class="col col-sm-6 col-md-8 col-lg-9">

                <h4 class="card-title" onclick="redirectToAuthorPage('{{comment.comment_author_local_server_id}}')">
                    <span class="comment-card__display-name">{{comment.author.displayName}}&nbsp;</span>
                    <span class="text-muted fs-6">•&nbsp;{{comment.when}}</span> 
                </h4>

                <h6 class="card-subtitle mb-2 text-muted px-1">
                    <span class="badge bg-secondary">{{comment.author_type}}&nbsp;</span>
                    {% if is_friend %}
                        <span class="badge bg-success">Friend</span>
                    {% endif %}
                </h6>

                <div class="border rounded-3 p-2 ps-2 me-4 ">
                    <p >{{ comment.comment }}</p>
                </div>

                <!-- Like Unlike Buttons -->
                <div class="mt-2 d-flex">
                {% if is_liked %}
                    <form method="post" action="{% url 'socialDistribution:like-comment' %}" class="d-flex">
                        {% csrf_token %}
                        <input type="hidden" name="comment_id" value={{comment.id}} />
                        <input type="hidden" name="post_author_url" value={{post_author_url}} />
                        <button class="btn btn-secondary mx-2"><i class="fas fa-thumbs-up"></i></button>
                    </form>

                {% else %}
                    <form method="post" action="{% url 'socialDistribution:like-comment' %}" class="d-flex">
                        {% csrf_token %}
                        <input type="hidden" name="comment_id" value={{comment.id}} />
                        <input type="hidden" name="post_author_url" value={{post_author_url}} />
                        <button class="btn btn-primary mx-2"><i class="fas fa-thumbs-up"></i></button>
                    </form>
                {% endif %}

                {% if like_text %}
                    <div class="align-self-center">{{like_text}}</div>
                {% endif %}

                </div>

            </div>

        </div>
    </div>
</div>

{% load static %}
    <script src="{% static 'js/comment/comment.js' %}"></script>