<div class="card shadow border-light bg-white" id="post" height="100%">
    <div class="card-header bg-white">
        <div class="fs-5" style="line-height: 20px;">
            {{ post.author_as_json.displayName }}
        </div>
        <small class="text-muted">
            {{ post.when }}
        </small>
    </div>
    <div class="card-body d-flex flex-column overflow-auto object-fit">
        <h4 class="card-title mx-auto">{{ post.title }}</h4>
        <p class="card-text text-center">
            <span class="mx-auto">{{ post.description }}<span><br>
                    <span class="p-1 content-markdown">{{ post.content | safe}}</span>
        </p>
        {% if image %}
        {% comment %} <img src="data:image/png;charset=utf-8;base64,{{ image }}" alt="{{ post.image.caption }}"> {% endcomment %}
        <img src="{{ image }}" alt="{{ post.image.caption }}">
        {% endif %}
    </div>
    <div class="card-footer bg-white">
        <div class="d-flex flex-column">
            <p class="px-2">
                {{ likeText }}
            </p>
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-row">
                    {% if isLiked %}
                    <form method="post" action="{% url 'socialDistribution:likePost' post.id %}" class="d-flex">
                        {% csrf_token %}
                        <button class="btn btn-secondary mx-2"><i class="fas fa-thumbs-up"></i></button>
                    </form>

                    {% else %}
                    <form method="post" action="{% url 'socialDistribution:likePost' post.id %}" class="d-flex">
                        {% csrf_token %}
                        <button class="btn btn-primary mx-2"><i class="fas fa-thumbs-up"></i></button>
                    </form>

                    {% endif %}

                    <!-- Comment Icon -->
                    <a href="{% url 'socialDistribution:commentPost' post.id %}"> <button class="btn btn-secondary"><i
                                class="fas fa-comment"></i></button></a>

                    <!-- Launch Share Modal -->
                    {% if isPublic or isFriends %}
                    <button 
                        type="button" 
                        class="btn btn btn-secondary mx-2" 
                        data-bs-toggle="modal" 
                        data-bs-target="#share_post_modal{{ post.id }}">
                            <i class="fas fa-share-square"></i>
                    </button>
                    {% endif %}

                    

                </div>

                {% if isAuthor and isPublic%}
                <span>
                    <!-- Launch Edit Modal -->
                    <button 
                        type="button" 
                        class="btn btn btn-secondary" 
                        data-bs-toggle="modal"
                        data-bs-target="#edit_post_modal{{ post.id }}">
                            <i class="fas fa-edit"></i>
                    </button>
           
                    <!-- Launch Delete Modal -->
                    <button 
                        type="button" 
                        class="btn btn btn-danger" 
                        data-bs-toggle="modal" 
                        data-bs-target="#delete_post_modal{{ post.id }}">
                            <i class="fas fa-trash-alt"></i>
                    </button>
                </span>
                {% endif %}
            </div>
        </div>
    </div>

    {% load modal %}
    {% load utility %}
    <form method="POST" enctype="multipart/form-data" action="{% url 'socialDistribution:editPost' post.id %}">
        {% csrf_token %}
        {% modal id="edit_post_modal"|addstr:post.id type="edit" label="Edit Post" title="Edit Post" btn="Save" postid=post.id %}
    </form>
    <form method="POST" action="{% url 'socialDistribution:deletePost' post.id %}">
        {% csrf_token %}
        {% modal id="delete_post_modal"|addstr:post.id type="delete" label="Delete Post" title="Delete Post" btn="Delete" postid=post.id%}
    </form>
    <form method="POST" action="{% url 'socialDistribution:sharePost' post.id %}">
        {% csrf_token %}
        {% modal id="share_post_modal"|addstr:post.id type="share" label="Share Post" title="Share Post" btn="Share" postid=post.id%}
    </form>
</div>