<div class="card shadow border-light bg-white" id="post" height="100%">
    <div class="card-header bg-white">
        <div class="fs-5" style="line-height: 20px;">
            {{ post.author.displayName }}
        </div>
        <small class="text-muted">
            {{ post.when }}
        </small>
    </div>
    <div class="card-body d-flex flex-column overflow-auto object-fit">
        <h4 class="card-title mx-auto">{{ post.title }}</h4>
        <p class="card-text text-center">
            <span class="mx-auto">{{ post.description }}<span><br>
                    <span class="p-1">{{ post.content_text }}</span>
        </p>
        {% if content_media %}
        <img src="data:image/png;charset=utf-8;base64,{{ content_media }}" alt="Post content media"
            class="rounded w-100 mx-auto" style="object-fit: contain; border-radius:16px;">
        {% endif %}
    </div>
    <div class="card-footer bg-white">
        <div class="d-flex flex-column">
            <p class="px-2">
                {{ likeText }}
            </p>
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-row">
                    {% if isLiked %}
                    <form method="post" action="{% url 'socialDistribution:likePost' post.id %}" class="d-flex">
                        {% csrf_token %}
                        <button class="btn btn-secondary mx-2"><i class="fas fa-thumbs-up"></i></button>
                    </form>

                    {% else %}
                    <form method="post" action="{% url 'socialDistribution:likePost' post.id %}" class="d-flex">
                        {% csrf_token %}
                        <button class="btn btn-primary mx-2"><i class="fas fa-thumbs-up"></i></button>
                    </form>

                    {% endif %}

                    <!-- Comment Icon -->
                    <a href="{% url 'socialDistribution:commentPost' post.id %}"> <button class="btn btn-secondary"><i
                                class="fas fa-comment"></i></button></a>

                </div>

                {% if isAuthor %}
                <span>
                    <!-- Launch Edit Modal -->
                    <a href="{% url 'socialDistribution:commentPost' post.id %}?action=edit"> <button
                            class="btn btn-secondary"><i class="fas fa-edit"></i></button></a>
                    </button>
                    <!-- Launch Delete Modal -->
                    <a href="{% url 'socialDistribution:commentPost' post.id %}?action=delete"> <button
                            class="btn btn btn-danger"><i class="fas fa-trash-alt"></i></button></a>
                    </button>
                </span>
                {% endif %}
            </div>
        </div>
    </div>
</div>