{% extends 'navBase.html' %}

{% block head %}
<title>Home</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/posts/style.css' %}">
{% endblock %}

{% load post %}
{% load modal %}
{% load github_event %}
{% block body %}
    {% if latest_posts %}
        <div class="container align-self-center" id="post_container">
            <div class="d-flex justify-content-center">
                <label class="btn btn-primary rounded-pill mx-3 mt-md-3 w-25 active" id="posts-radio">
                    <input 
                        type="radio" 
                        class="d-none" 
                        name="feed-type" 
                        id="posts-radio"
                        value="1"
                        autocomplete="off" 
                        checked
                    >
                        Posts
                    </input>
                </label>
                <label class="btn btn-primary rounded-pill mx-3 mt-md-3 w-25" id="github-radio">
                    <input 
                        type="radio"
                        class="d-none" 
                        name="feed-type" 
                        id="github-radio" 
                        value="2"
                        autocomplete="off"
                    >
                        Github Activity
                    </input>
                </label>
            </div>

            <div id="github-activity">
                {% for github_event in github_events %}
                    {% card_gh_event github_event %}
                {% endfor %}
            </div>
            <div id="regular-posts">
                {% for post in latest_posts %}
                    {% card_post post author %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <button id="add_btn" type="button" data-bs-toggle="modal" data-bs-target="#add_post_modal">
        <img src="{% static 'assets/add_btn.png' %}" alt="add posts" style="object-fit: contain; width: 100%">
    </button>

    <form enctype="multipart/form-data" method="POST" action="{% url 'socialDistribution:posts' author.id %}" id="create_post_form">
        {% csrf_token %}
        {% modal user=author.id id="add_post_modal" type=modal_type label="Create Post" title="Create Post" btn="Publish"%}
    </form>

    {% load static %}
    <script src="{% static 'js/home.js' %}"></script>        
{% endblock %}